/*mobile & general*/
* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Open Sans";
    outline: none;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

#chatWindow::-webkit-scrollbar {
    width: 0
}

#hidden input {
    width: 120px;
}

.ad {
    margin: 0 auto;
    background: gray;
    width: 80vw;
    max-width: 1000px;
    height: 200px;
}

#chat input {
    height: 40px;
    width: calc(100% - 85px);
    border: 2px solid #3993ff;
    color: #3993ff;
    background-color: white;
    border-radius: 20px;
    padding: 0 10px;
}

#chat button {
    height: 40px;
    width: 80px;
    border: 2px solid #3993ff;
    color: #3993ff;
    background-color: white;
    border-radius: 20px;
}

#chatWindow {
    width: 100%;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    border: 2px solid #3993ff;
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
}

#chatWindow span {
    padding: 4px;
    width: 300px;
    margin: 50px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
}

#chatWindow .user1 span:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #3993ff;
    border-top: 10px solid #3993ff;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 0;
}

#chatWindow p {
    margin-bottom: 5vh;
}

#chatWindow .user1 span {
    margin-left: 1vw;
    color: white;
    background-color: #3993ff;
}

#chatWindow .user2 span {
    margin-right: 1vw;
    color: white;
    background-color: gray;
}

#chatWindow .user2 span:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid gray;
    border-right: 10px solid transparent;
    border-top: 10px solid gray;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 0px;
}

#chatWindow .user2 {
    text-align: right;
}

#uid {
    display: inline;
}

#save img {
    filter: invert(1);
    width: 16px;
}

#save {
    width: 41px;
    transition: .2s linear;
    position: relative;
    top: 2px;
}
#chatOptions, #saveChat, #loadChat, #delChat{
    position: absolute;
    top:0;
        background-color: #3993ff;
        color: white;
        height: 50;
        width: 100vw;
        padding: 10px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    z-index: 9;
    transition: .3s linear;
}
#saveChat, #loadChat, #delChat{
    grid-template-columns: 25% 25% 25% 25%;
}
#chatOptions.shown, #saveChat.shown, #loadChat.shown, #delChat.shown{
            top: 63px;
}
#chatOptions button, #saveChat button, #loadChat button, #delChat button{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 7px; 
    background-color: #3993ff;
    color: white;
}

/*medium screens*/
@media only screen and (min-width: 800px) {
    #chat {
        margin: 100px auto 50px auto;
        width: 80vw;
        height: calc(100vh - 300px);
    }

    #hidden input {
        width: 200px;
    }

    nav {
        padding-right: 20px;
    }

    nav {
        position: fixed;
        top: 0;
        background-color: #3993ff;
        color: white;
        width: 100vw;
        z-index: 10;
        padding: 10px;
        display: grid;
        grid-template-columns: auto auto;
    }

    nav > #user {
        font-size: 30px;
    }

    #key {
        text-align: right;
    }

    .blur {
        filter: blur(5px);
        pointer-events: none;
    }

    #key > div,
    #key > button {
        display: inline-block;
    }

    #key button,
    #key input {
        height: 41px;
        background-color: #3993ff;
        color: white;
        border: 2px solid white;
        border-radius: 7px;
        margin: 0 5px;
    }

    #show {
        transition: .2s linear;
    }

    .toggled {
        color: #3993ff !important;
        background-color: white !important;
    }



}