#init-input {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #3993ff;
    z-index: 1;
    text-align: center;
    color: white;
}

#init-input h2 {
    margin-top: calc(50vh - 100px);
}

#encoding,
#submit-encryption {
    background-color: #3993ff;
    border: 2px solid white;
    width: 240px;
    height: 24px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
}

#submit-encryption {
    height: 28px;
    cursor: pointer;
}

.stretch-card > .card {
    width: 100%;
    min-width: 100%
}

body {
    margin: 0;
    font-family: 'Roboto';
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.box.box-warning {
    border-top-color: #3993ff
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #3993ff !important
}

.bg-yellow {
    color: #fff !important
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: calc(100vh - 115px);
    overflow: auto
}

.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

.direct-chat-msg {
    margin-bottom: 10px
}

.direct-chat-msg,
.direct-chat-text {
    display: block
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px
}

.direct-chat-timestamp {
    color: #999
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444
}

.direct-chat-msg,
.direct-chat-text {
    display: block
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px
}

.direct-chat-warning .right > .direct-chat-text {
    background: #3993ff;
    border-color: #3993ff;
    color: #fff
}

.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px
}

.btn-warning {
    color: #fff;
    background-color: #3993ff;
}

#mess-input {
    height: 24px;
    border-radius: 5px;
    outline: none;
    width: calc(95vw - 30px);
}

#mess-btn {
    outline: none;
    border: 1px solid white;
    height: 30px;
    border-radius: 5px;
}

#openSaveMenu {
    display: inline-block;
    width: 30px;
    position: absolute;
    height: 30px;
    right: 20px;
    top: 5px;
}

#chatOptions,
#saveChat,
#loadChat,
#delChat {
    display: none;
    position: fixed;
    height: calc(100vh - 40px);
    width: 100%;
    background-color: white;
    z-index: 11;
    text-align: center;
    padding-top: 20vh;
}

#chatOptions button,
#saveChat button,
#loadChat button,
#delChat button,
#chatOptions input,
#saveChat input,
#loadChat input,
#delChat input {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    color: #3993ff;
    border: 3px solid #3993ff;
    background-color: white;
    text-align: center;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
}

#save img {
    width: 16px;
}

#save {
    width: 30px;
    height: 30px;
    transition: .2s linear;
    position: relative;
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
}

.toggled {
    filter: invert(1);
}

.shown {
    display: block !important;
}
