/*mobile & general*/
* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Open Sans";
    outline: none;
}

#chatsonLogo {
    text-align: left;
    display: inline-block;
    position: absolute;
    left: 5px;
    cursor: pointer;
    background-image: url(../img/chatson_logo_white.png);
    height: 50px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#expandCollapse {
    font-size: 30px;
    text-align: right;
    transition: .1s linear;
}

#expandCollapse:hover {
    filter: brightness(.9);
}

#expandCollapse img {
    width: 40px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 3px;
}

#chat {
    margin: 80px auto 0 auto;
    width: 100vw;
    height: calc(100vh - 110px);
}

nav {
    position: fixed;
    top: 0;
    background-color: #3993ff;
    color: white;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

nav > #user {
    font-size: 30px;
    position: relative;
    top: 60px;
}

.mobileBreaker {
    height: 20px;
    display: block !important;
}

#key {
    position: relative;
    top: 90px;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

#key > div,
#key > button {
    display: inline-block;
}

#key button,
#key input {
    height: 41px;
    background-color: #3993ff;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin: 0 5px;
}

#show {
    transition: .2s linear;
}

.toggled {
    color: #3993ff !important;
    background-color: white !important;
}

body {
    margin: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

button {
    cursor: pointer;
}

#chatWindow::-webkit-scrollbar {
    width: 0
}

#hidden input {
    width: 120px;
}

.ad {
    margin: 0 auto;
    background: gray;
    width: 80vw;
    max-width: 1000px;
    height: 200px;
    margin-top: 150px;
}

#chat input {
    height: 50px;
    width: calc(100% - 115px);
    border: 2px solid #3993ff;
    color: #3993ff;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
}

#chat button {
    height: 50px;
    width: 110px;
    border: 2px solid #3993ff;
    color: #3993ff;
    background-color: white;
    border-radius: 10px;
}

#chatWindow {
    width: 100%;
    height: calc(100% - 20px);
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
}

#chatWindow span {
    padding: 4px;
    width: 300px;
    margin: 50px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-family: arial;
    position: relative;
}

#chatWindow .user1 span:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #3993ff;
    border-top: 10px solid #3993ff;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 0;
}

#chatWindow p {
    margin-bottom: 40px;
}

#chatWindow .user1 span {
    margin-left: 1vw;
    color: white;
    background-color: #3993ff;
}

#chatWindow .user2 span {
    margin-right: 1vw;
    color: white;
    background-color: gray;
}

#chatWindow .user2 span:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid gray;
    border-right: 10px solid transparent;
    border-top: 10px solid gray;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 0px;
}

#chatWindow .user2 {
    text-align: right;
}

#uid {
    display: inline;
}