<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatson.io</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_new.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"
      integrity="sha512-nOQuvD9nKirvxDdvQ9OMqe2dgapbPB7vYAMrzJihw5m+aNcf0dX53m6YxM4LgA9u8e9eg9QX+/+mPu8kCNpV2A=="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
</head>

<body>
    <nav>
        <div id="user">User <div id="uid"></div></div>
        <div id="key">
            <div id="hidden" class="blur">
                   <input type="text" id="roomCode" value="mleko" disabled>
                <input type="text" id="roomKey" placeholder="Enter Your Key">
                <button id="send_key">Send</button>
            </div>
            <button id="show" onclick="toggleBlur()">Show</button>
        </div>
    </nav>
    <div id="chatSection">
        <div id="chat">
            <div id="chatWindow">
            </div>
            <form method="post">
                <input type="text" id="mess_to_send" name="chat_mess" placeholder="Your Message"> 
            <button>Send</button>
            </form>
            
        </div>
        <div id="ad"></div>
    </div>
    <script src="{{ url_for('static', filename='js/chat_new.js') }}"></script>
</body>

</html>