<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_mobile.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <script src="{{ url_for('static', filename='vendors/jquery351.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/crypto.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
</head>

<body>
  <div id="name" style="display: none">{{name}}</div>
   <div id="sweetDialog">
       <div id="sweetDialogContent">
           <p id="sweetDialogText">
           </p>
           <button onclick="closeSweetDialog()">OK</button>
       </div>
   </div>
    <div id="init-input">
        <h2>Please enter your encoding key</h2>
        <input type="text" id="encoding">
        <br>
        <br>
        <button id="submit-encryption" onclick="submitEncryption()">Submit key</button>
    </div>
    <div class="row container d-flex justify-content-center">
        <div class="col-md-4">
            <div class="box box-warning direct-chat direct-chat-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" onclick="clickOnLogo()">Chatson.io</h3>
                    <div id="openSaveMenu">
                        <button id="save" onclick="showChatOptions()">
                            <img src="{{ url_for('static', filename='img/save-regular.svg') }}">
                        </button>
                    </div>
                </div>
                <div id="chatOptions">
                    <button onclick="showsavechat()">Save chat</button>
                    <button onclick="showloadchat()">Load chat</button>
                    <button onclick="showdelchat()">Delete chat</button>
                </div>
                <div id="saveChat">
                    <input type="text" placeholder="Chat key (if not assigned, leave empty)" id="saveKey">
                    <input type="password" placeholder="Your password" id="savePass">
                    <button onclick="savechat()">Save</button>
                    <button onclick="closeWindows('save')">Cancel</button>
                </div>
                <div id="loadChat">
                    <input type="text" placeholder="Chat key" id="loadKey">
                    <input type="password" placeholder="Your password" id="loadPass">
                    <button onclick="loadchat()">Load</button>
                    <button onclick="closeWindows('load')">Cancel</button>
                </div>
                <div id="delChat">
                    <input type="text" placeholder="Chat key" id="delKey">
                    <input type="password" placeholder="Your password" id="delPass">
                    <button onclick="delchat()">Delete</button>
                    <button onclick="closeWindows('del')">Cancel</button>
                </div>
                <div class="box-body">
                    <div class="direct-chat-messages" id="chatWindow">
                    </div>
                </div>
                <div class="box-footer">
                    <div class="input-group"> <input type="text" name="message" id="mess-input" placeholder="Type Message ..." class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-warning btn-flat" id="mess-btn">Send</button> </span> </div>
                </div>
            </div>
        </div>
    </div>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat_mobileAddOn.js') }}"></script>
</body>

</html>
