<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_new.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <script src="{{ url_for('static', filename='vendors/jquery351.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/crypto.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/cookies.js') }}"></script>
</head>

<body>
   <div id="sweetDialog">
       <div id="sweetDialogContent">
           <p id="sweetDialogText">
           </p>
           <button onclick="closeSweetDialog()">OK</button>
       </div>
   </div>
    <nav>
        <div id="user">{{ name }}</div>
        <div id="key">
            <div>
                Room ID: <span class="hidden blur" style="margin-right: 20px">{{room}}</span>
                Key: <input type="text" id="roomKey" class="hidden blur" placeholder="Enter Your Key">
                <button id="send_key" class="hidden blur">Save</button>
            </div>
            <div class="mobileBreaker"></div>
            <button id="show" onclick="toggleBlur()">Show</button>
            <button id="save" onclick="showChatOptions()">
                <img src="{{ url_for('static', filename='img/save-regular.svg') }}">
            </button>
        </div>
    </nav>
    <div id="chatOptions">
        <button onclick="showsavechat()">Save chat</button>
        <button onclick="showloadchat()">Load chat</button>
        <button onclick="showdelchat()">Delete chat</button>
    </div>
    <div id="saveChat">
        <button onclick="closeWindows('save')">Cancel</button>
        <input type="text" placeholder="Chat key (if You have one)" id="saveKey">
        <input type="text" placeholder="Your password" id="savePass">
        <button onclick="savechat()">Save</button>
    </div>
    <div id="loadChat">
        <button onclick="closeWindows('load')">Cancel</button>
        <input type="text" placeholder="Chat key" id="loadKey">
        <input type="text" placeholder="Your password" id="loadPass">
        <button onclick="loadchat()">Load</button>
    </div>
    <div id="delChat">
        <button onclick="closeWindows('del')">Cancel</button>
        <input type="text" placeholder="Chat key" id="delKey">
        <input type="text" placeholder="Your password" id="delPass">
        <button onclick="delchat()">Delete</button>
    </div>
    <div id="chatSection">
        <div id="chat">
            <div id="chatWindow">
            </div>
            <input type="text" name="chat_mess" id="chatMess" placeholder="Your Message">
            <button onmouseover="checkIfEncryptionKey()" onmousedown="sanitizeForm()" id="sendmess">Send</button>
        </div>
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>
